/*#region 全局结构控制*/
/*#region 框架结构控制-含全局顶条*/
.ItemSize {
    width: 400px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    padding: 8px;
    border-width: 1px;
}

.TbSize {
    width: 500px;
    margin-right: 15px;
    margin-bottom: 15px;
    line-height:20px;
}

#MovingBox {
    width: 550px;
    right: -600px;
    top: 40px;
    bottom: 25px;
    position: absolute;
    z-index: 9;
    background-color: #222226;
    transition: right 1s ease;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.MaskLayer {
    position:absolute;
    right:0;
    bottom:0px; 
    left:0px; 
    top: 40px; 
    z-index:2;
    display:none;
    background-color: black;
    -moz-opacity: 0.7; 
    opacity:.70; 
    filter: alpha(opacity=70);
    background-color:rgba(0, 0, 0, 0.7);
}
.Maskblack{ position:absolute;
    right:0;
    bottom:22px; 
    left:0px; 
    top: 0px; background-color:black; z-index:6;    background-color: black;
    -moz-opacity: 0.7; 
    opacity:.70; 
    filter: alpha(opacity=70);
    background-color:rgba(0, 0, 0, 0.7);}
    #MovingBox > .Content {
        position: absolute;
        top: 50px;
        left: 25px;
        right: 15px;
        bottom: 15px;
        /*background-color: rgba(255,255,255,0.1);*/
    }

    #MovingBox > .Title {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 35px;
    }

        #MovingBox > .Title > label {
            margin-top: 10px;
            margin-left: 20px;
            display: block;
            font-size: 15px;
            color: #fff;
            font-weight: 600;
        }

    #MovingBox > .HideButton {
        height: 20px;
        width: 10px;
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: -10px;
        color: #fff;
        cursor: pointer;
    }

    #MovingBox > .Content input {
    }


    html, body {
    background-color: #000000;
    border-style: none;
    border-width: 0px;
    border-color: #111112;
    color: rgb(58,58,58);
    margin: 0px;
    padding: 0px;
    background: url(Images/bg.png) repeat;
    font-family: 'Microsoft YaHei UI','Tahoma',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
}
/*html, body {
    background-color: #000000;
    border-style: none;
    border-width: 0px;
    border-color: #111112;
    color: rgb(58,58,58);
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei UI','Tahoma',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    background: url(../Images/chunnuanhuakai01.jpg)  no-repeat center fixed;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}*/

table {
    border: 0;
    border-collapse: separate;
    border-spacing: 1px;
}

#TopBari {
}

    #TopBari > #TopBar > .HomeClickZone {
        cursor: pointer;
    }

        #TopBari > #TopBar > .HomeClickZone > .L1 {
            position: absolute;
            width: 303px;
            border-top: solid 38px #292931;
            border-right: solid 38px transparent;
            transition: border-top-color 2s ease 6s,width 5s ease 1s;
        }

        #TopBari > #TopBar > .HomeClickZone > .L2 {
            position: absolute;
            width: 202px;
            border-top: solid 38px #D51717;
            border-right: solid 38px transparent;
            transition: border-top-color 1s ease;
        }

        #TopBari > #TopBar > .HomeClickZone:hover > .L2 {
            border-top-color: #FF1717;
            transition: border-top-color 0.5s ease;
        }

#TopBar > #TopBarButtons, #BottomBar > #BottomSign {
    margin: 0px;
    border: none;
    background-color: #222226;
    padding: 0px;
}

#TopBar > #TopBarButtons {
    color: #ffffff;
    text-align: right;
    line-height: 38px;
    height: 38px;
}

   .TopBarButtonsText {
        color: rgba(255,255,255,0.7);
        cursor: pointer;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        transition: color 1s ease; float:left;
    }

   .TopBarButtonsText:hover {
        color: rgba(255,255,255,1);
        transition: color 0.5s ease;
    }

        .TopBarButtonsText{}

.LocationBar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #222226;
    background-color: transparent;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0px 15px 15px 0px;
}

    .LocationBar > label {
        margin-right: 15px;
    }

    .LocationBar > a {
        cursor: pointer;
    }

        .LocationBar > a:hover {
            color: #F1F1F5;
        }

#MainZone {
    margin: 0px;
    padding: 0px;
    color: white;
    overflow: auto;
    scrollbar-arrow-color: transparent;
    scrollbar-base-color: #313136;
    scrollbar-track-color: black;
}

    #MainZone > #ItemContainer {
        margin-left: 8px;
    }
* {
    font-family: inherit;
}
#Continue,.Template,.Hidden {
    display:none;
}
/*#endregion*/

/*#region 用户中心业务申请*/


#maincont {
    top: 0;
    bottom: 0;
    right: 280px;
    left: 0;
    position: absolute;
}

#applyRight {
    width: 280px;
    top: 40px;
    right:-280px;
    bottom: 25px;
    background-color: #222226;
    position: absolute;
    transition: right 1s ease;
    padding: 0px;
    border: 0px;
    margin: 0px;
    z-index: 6;
}

    #applyRight > .TitleButton {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 21px;
        width: 21px;
        color: #aab;
        cursor: pointer;
        font-size: 18px;
        transition: left ease 0.5s;
    }

        #applyRight > .TitleButton > div {
            height: 3px;
            width: 100%;
            border-radius: 2px;
            background-color: #7f7f93;
            background-color: rgba(220, 220, 255, 0.50);
            margin-top: 2px;
            margin-bottom: 2px;
        }
        
    
     #applyRight > .TitleButtonHide {
        transition: left ease 0.5s 1s;
        left: -28px;
    }

    #applyRight > p {
        margin-top: 30px;
        margin-left: 23px;
        display: block;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
    }

.applyButton ul {
    margin: 20px;
    width: 242px;
    padding: 0;
}

    .applyButton ul li {
        list-style: none;
    }
     .applyButton ul li[data-kt="1"] {
        display:none;
    }
        .applyButton ul li a {
            width: 242px;
            height: 70px;
            margin-bottom: 10px;
            background-color: #18181a;
            line-height: 70px;
            display: block;
            text-decoration: none;
            cursor: pointer;
        }

            .applyButton ul li a div {
                float: left;
                height: 70px;
                width: 50px;
                line-height: 64px;
                display: inline-block;
                background-color: #c41010;
            }

            .applyButton ul li a .span1 {
                font-size: 30px;
                padding-top: 20px;
                padding-left: 8px;
                display: table-caption;
                color: #fff;
            }

            .applyButton ul li a .span2 {
                text-align: center;
                padding-left: 45px;
                display: table-caption;
                overflow: hidden;
                float: left;
                color: #fff;
            }

            .applyButton ul li a .span3 {
                float: right;
                display: table-caption;
                color: #b1b1b3;
                padding-top: 28px;
                width: 50px;
                text-align: center;
            }

.RTB-Hidden {
    right: 0px;
    transition: right ease 0.5s;
}

.RTB-Show {
    right: 280px;
    transition: right ease 0.5s 0.3s;
}

/*#endregion*/

/*#region 图标字体*/
@font-face {
	font-family: 'vanch';
	src:url('fonts/vanch.eot?-vkf826');
	src:url('fonts/vanch.eot?#iefix-vkf826') format('embedded-opentype'),
		url('fonts/vanch.woff?-vkf826') format('woff'),
		url('fonts/vanch.ttf?-vkf826') format('truetype'),
		url('fonts/vanch.svg?-vkf826#vanch') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'vanch';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-yuanB:before {
	content: "\e61f";
}
.icon-yuanA:before {
	content: "\e620";
}
.icon-Success:before {
	content: "\e625";
}
.icon-Error:before {
	content: "\e624";
}
.icon-Success2:before {
	content: "\e623";
}
.icon-CG:before {
	content: "\e61e";
}
.icon-ee:before {
	content: "\e600";
}
.icon-dd:before {
	content: "\e601";
}
.icon-cc:before {
	content: "\e602";
}
.icon-ff:before {
	content: "\e603";
}
.icon-ueser2:before {
	content: "\e604";
}
.icon-bb:before {
	content: "\e605";
}
.icon-aa:before {
	content: "\e606";
}
.icon-star:before {
	content: "\e607";
}
.icon-bubbles:before {
	content: "\e608";
}
.icon-bookmark2:before {
	content: "\e609";
}
.icon-comtime:before {
	content: "\e60a";
}
.icon-enter:before {
	content: "\e60b";
}
.icon-key:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
.icon-time:before {
	content: "\e60e";
}
.icon-information:before {
	content: "\e60f";
}
.icon-ex:before {
	content: "\e610";
}
.icon-customer:before {
	content: "\e611";
}
.icon-uniE612:before {
	content: "\e612";
}
.icon-stop:before {
	content: "\e613";
}
.icon-arrow-down:before {
	content: "\e614";
}
.icon-uniE615:before {
	content: "\e615";
}
.icon-checkmark:before {
	content: "\e616";
}
.icon-cancel:before {
	content: "\e617";
}
.icon-search:before {
	content: "\e618";
}
.icon-arrow-up:before {
	content: "\e619";
}
.icon-arrow-right:before {
	content: "\e61a";
}
.icon-arrow-left:before {
	content: "\e61b";
}
.icon-arrow-down2:before {
	content: "\e61c";
}
.icon-rmb:before {
	content: "\e61d";
}
.icon-cny:before {
	content: "\f157";
}
.icon-cross:before {
	content: "\e117";
}
.icon-bars:before {
	content: "\f0c9";
}

/*#endregion*/

/*#region 全局底条控制*/
#BottomBar {
    color: white;
    font-size: 14px;
    position: relative;
    position: fixed;
    top: 100%;
    left: 0px;
    width: 100%;
    margin-top: -23px;
}

    #BottomBar #BottomBarInfo {
        position: absolute;
        width: 1185px;
        background-color: #303036;
        /*background-color: rgba(50, 50, 58, 0.9);*/
        background-color: transparent;
        z-index: 7;
        height: 60px;
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        align-content: center;
        vertical-align: top;
        vertical-align: text-top;
    }

        #BottomBar #BottomBarInfo .Item {
            background-color: rgba(0, 0, 0, 0.7);
        }

        #BottomBar #BottomBarInfo .Item, #BottomBar #BottomBarInfo .Item-Selected, #BottomBar #BottomBarInfo .Line {
            display: inline-block;
            height: 40px;
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        #BottomBar #BottomBarInfo .Item, #BottomBar #BottomBarInfo .Item-Selected {
            width: 184px;
            border: solid 1px #505051;
            transition: all ease 1s;
        }

            #BottomBar #BottomBarInfo .Item:hover, #BottomBar #BottomBarInfo .Item-Selected {
                border: solid 1px #a5a5a5;
                transition: all ease 0.5s;
                background-color: #d51717;
            }

                #BottomBar #BottomBarInfo .Item > h3, #BottomBar #BottomBarInfo .Item-Selected > h3, #BottomBar #BottomBarInfo .Line > h3 {
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    color: #a0a0a5;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 10px;
                    transition: color ease 1s;
                }

                #BottomBar #BottomBarInfo .Item:hover > h3 {
                    color: #ffffff;
                    transition: color ease 0.5s;
                    cursor: pointer;
                }

                #BottomBar #BottomBarInfo .Item-Selected > h3 {
                    color: #ffffff;
                    transition: color ease 0.5s;
                }

        #BottomBar #BottomBarInfo .Line {
            width: 1px;
            /*background-color: #ffffff;*/
            opacity: 0.1;
        }



.BottomBar-BarInfo_Show #BottomBarInfo {
    top: -60px;
    transition: top 1s ease;
}

.BottomBar-BarInfo_Hidden #BottomBarInfo {
    top: 0px;
    transition: top 2s ease;
}

.BottomBar-BarInfo-Init_Hidden #BottomBarInfo {
    top: 0px;
}

#BottomBar #BottomBarInfo #BottomBarLeftInfo, #BottomBar #BottomBarInfo #BottomBarRightInfo {
    position: absolute;
    height: 20px;
    width: 100%;
}

#BottomBar #BottomBarInfo #BottomBarRightInfo {
    text-align: right;
}

#BottomBar #BottomSign {
    position: relative;
    text-align: center;
    color: #909091;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    z-index: 8;
    border-bottom: solid 1px #d51717;
}

    #BottomBar #BottomSign .MoreLeft, #BottomBar #BottomSign .MoreRight {
        cursor: pointer;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        color: #ff1717;
        transition: opacity 1s ease;
    }

.BottomBar-BarInfo_Show #BottomSign .MoreLeft, .BottomBar-BarInfo_Show #BottomSign .MoreRight {
    opacity: 0;
    transition: opacity 2s ease;
}

#BottomBar #BottomSign .MoreLeft {
    float: left;
}

#BottomBar #BottomSign .MoreRight {
    float: right;
}
/*#endregion*/
/*#endregion*/

/*#region 显示单元内元素体现*/

.GeneralItem {
    background-color: #222226;
    background-color: rgba(34, 34, 38, 0.50);
    border-style: solid;
    border-color: #222226;
    border-color: rgba(34, 34, 38, 0.50);
    transition: border-color 0.5s ease,background-color 1s ease,width ease 0.5s;
    position: relative;
}

    .GeneralItem:hover {
        border-color: #505058;
        border-color: rgba(34, 34, 38, 0.90);
        background-color: #222226;
        background-color: rgba(34, 34, 38, 0.80);
        transition: border-color 0.5s ease,background-color 0.5s ease;
    }

.GeneralItembeS {
    border-style: solid;
    background-color: #222226;
    border-color: #222226;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
}

    .GeneralItembeS:hover {
        border-color: #ffffff;
    }

.GeneralItemBeSelected {
    border-color: #ffffff;
}

.ItemPopUp {
    background-color: #32323A;
    background-color: rgba(50, 50, 58,0.95);
    border: solid 1px #32323A;
    padding: 10px;
    position: absolute;
    width: 390px;
    z-index: 5;
}

    .ItemPopUp:hover {
        border-color: #505058;
        background-color: #32323A;
        background-color: rgba(50, 50, 58, 1);
    }

.ItemTitle, .ItemText, .ItemTextInp {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    text-align: left;
}

.ItemTitle {
    color: #E1E1E5;
    width: 81px;
    padding-left: 10px;
    white-space: nowrap;
    padding-right: 20px;
}

.GeneralItem .ItemTitle::after, .BoxContainer .GeneralItem .ItemTitle::after, .BoxContainer .ItemTitle::after {
    content: "：";
    float: right;
}

.GeneralItem .ItemTitle[data-emp]::after {
    content: "";
    clear: both;
}

.GeneralItem td {
    height:20px;
}

.ItemText, .ItemTextInp {
    color: #F1F1F1;
    white-space: nowrap; 
    -ms-word-break: keep-all;
}

    .ItemText[data-alert] {
        color: #fff76a;
    }

    .ItemText > input {
        display: list-item;
    }
.ItemDateInp {
    width: 100%;
    height: 100%;
    display:inline-block;
    white-space: nowrap; 
    -ms-word-break: keep-all;
}
textarea {
    overflow: auto;
    height: 100px;
    width: 100%;
    color: white;
    border: 1px solid #58585a;
    background-color: transparent;
}
.SelectDIV {
    position: absolute;
    background-color: #212121;
    overflow-x:auto;
    margin-top:-30px;
    -ms-word-break: break-all; 
    -ms-scrollbar-base-color: rgb(49, 49, 54); 
    -ms-scrollbar-arrow-color: rgb(49, 49, 54); 
    -ms-scrollbar-track-color: black;
    z-index:10;
    padding:2px;
}

    .SelectDIV > .SltItem {
        visibility: visible;
        background-color: #313136;
        color: white;
        font-size: 18px;
        padding:5px 15px 5px 5px;
    }
        .SelectDIV > .SltItem[data-show="1"] {
            background-color: #3399ff;
        }
        .SelectDIV > .SltItem:first-child:hover {
            background-color: #3399ff;
        }
        .SelectDIV > .SltItem:hover {
            background-color: #fff;
            color:#000;
        }

    .ItemText select, .ItemTextInp select {
        background-color: transparent;
        color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 0px;
        padding-bottom: 2px;
        font-size: inherit;
        border: none;
        height: 20px;
    }

    .ItemTextInp select {
        width: 100%;
    }

        .ItemText select option, .ItemTextInp select option {
            background-color: #222226;
            background-color:rgba(49, 49, 54, 0.99);
            color: white;
            border: none;
            font-size: 18px;
            cursor:default;
        }

    .ItemText:hover {
        color: #FFFFFF;
        text-align: left;
    }

.ItemTextInp {
    border-bottom-color: #58585a;
}

    .ItemTextInp[data-ctem="1"] {
        border-bottom-color: #ff2222;
    }

    .ItemTextInp > input {
        background-color: transparent;
        color: white;
        border: none;
        margin: 0px;
        width: 100%;
        padding: 0px;
        font-size: inherit;
    }

    input:-ms-input-placeholder {
            color: #6f6f6f;
        }
/*#endregion */

/*#region 预计提醒显示形式*/
.ItemText[data-estimate], .memo {
    /*color: #a5a5a9;*/
    color: #fbf876;
    transition: color ease 1s;
}

.memo {
}

    .memo h5 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .memo ul {
        padding-left: 40px;
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
    }

        .memo ul li {
            font-size: 14px;
            line-height: 24px;
            list-style: disc;
        }
/*#endregion*/

/*#region 本文显示控制主要由 FreeInfo 使用*/
.FreeInfo {
    width: 100%;
}

    .FreeInfo .ArticleContainer {
        border-width: 1px;
        border-color: transparent;
        border-style: solid;
        float: left;
        margin: 0px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 0px;
    }

        .FreeInfo .ArticleContainer a {
            text-decoration: none;
            color: #ff2222;
            cursor: pointer;
        }

            .FreeInfo .ArticleContainer a:hover {
                border-bottom: #d51717 solid 1px;
            }

        .FreeInfo .ArticleContainer h2, .FreeInfo .ArticleContainer article h3, .FreeInfo .ArticleContainer article h4 {
            color: #ffffff;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 0px;
        }

        .FreeInfo .ArticleContainer h2 {
            font-size: 28px;
            font-weight: 600;
            margin-left: 0px;
        }

        .FreeInfo .ArticleContainer article {
            padding: 0px;
            margin-right: 20px;
            animation: divP 1s;
        }

            .FreeInfo .ArticleContainer article h3 {
                margin-left: 20px;
                font-size: 18px;
                animation: hAppear 1s;
            }

            .FreeInfo .ArticleContainer article h4 {
                margin-left: 50px;
                animation: hAppear 1s;
            }

            .FreeInfo .ArticleContainer article p, .FreeInfo .ArticleContainer article ul {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1px;
                padding: 0px;
                margin: 0px;
                margin-left: 20px;
                border: solid 1px transparent;
            }

            .FreeInfo .ArticleContainer article p {
                text-indent: 34px;
            }

        .FreeInfo .ArticleContainer .ImgSmall {
            width: 500px;
            cursor: pointer;
            transition: width 1s ease;
        }

        .FreeInfo .ArticleContainer .ImgActure {
            width: 1200px;
            cursor: pointer;
            transition: width 1s ease;
        }

        .FreeInfo .ArticleContainer article ul li {
            font-size: 16px;
            margin-left: 55px;
            list-style: decimal;
        }

@keyframes divP {
    from {
        opacity: 0.01;
    }

    to {
        opacity: 1;
    }
}

@keyframes hAppear {
    from {
        opacity: 0.01;
    }

    to {
        opacity: 1;
    }
}


/*#endregion*/
    
/*#region 错误提示效果控制*/
.InputErr {
    border-style: dashed !important;
    border-color: #fbf876 !important;
    border-width: 1px !important;
}

    .InputErr > div > .PmpTxt {
        color: #fbf876;
        text-align: center;
        font-size: 14px;
        vertical-align: bottom;
        background-color: #000;
        background-color: rgba(0, 0, 9, 0.80);
    }
/*#endregion*/

/*#region 三主题色：红、蓝、长青色应用定义*/
.UToolBABG, .UToolBBBG, .UToolBCBG {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.UToolBABG {
    border-bottom-color: #3a6bf1;
}

.UToolBBBG {
    border-bottom-color: #D51717;
}

.UToolBCBG {
    border-bottom-color: #026458;
}

.ABt, .ABt-Disabled, .ABtD, .BBt, .BBt-Disabled, .BBtD, .CBt, .CBt-Disabled, .CBtD, .BBt-Hidden {
    text-align: center;
    width: 110px;
    height: 28px;
    line-height: 26px;
    cursor: pointer;
    margin:10px  5px 5px;
    display: inline-block;/*border:1px solid #464647;*/
}

 .ABt, .BBt, .CBt, .ItemPopUp:hover .ABt, .ItemPopUp:hover .BBt, .ItemPopUp:hover .CBt, .TransPayBackBox:hover .ABt, .TransInvestBox:hover .BBt {
    background-color:#2f2f35;
    background-color: rgba(58, 58, 66, 0.60);
    border-radius: 2px;
    transition: background-color ease 0.5s;
    /*border:1px solid #464647;*/
}

.ABt:hover, .BBt:hover, .CBt:hover {
    background-color: #3a3a42 !important;
}

.ABt {
    color: #3a6bf1;
}
.ABtD {
    color: #FFFFFF;
    background-color: #3a6bf1;
    background-color: rgba(58, 107, 241, 0.50);
    border-radius: 2px;
}
    .ABt[data-btst="D"], .ABtD[data-btst="D"] {
        cursor: not-allowed;
    }


.ABt-Disabled {
    color: #0000a5;
    background-color: transparent;
    cursor: not-allowed;
}

.ABtInTd {
    color: #3a6bf1;
    cursor: pointer;
}

.ABtInTdD {
    color: #ffffff;
    cursor: pointer;
}

.BBt {
    color: #D51717;
}

.BBtD {
    color: #FFFFFF;
    background-color: #D51717;
    background-color: rgba(181, 23, 23, 0.50);
    border-radius: 3px;
}
    .BBt[data-btst="D"], .BBtD[data-btst="D"]{
        cursor: not-allowed;
    }

.BBt-Disabled {
    color: #852626;
    background-color: transparent;
    cursor: not-allowed;
}

.BBt-Hidden {
    display: none;
}

.BBtInTd {
    color: #D51717;
    cursor: pointer;
    text-decoration: none;
}

.BBtInTdD {
    color: #ffffff;
    cursor: pointer;
}

.CBt {
    color: #167166;
    cursor: pointer;
}
.CBtD {
    background-color: #026458;
    background-color: rgba(2, 100, 88, 0.50);
    color: #FFFFFF;
    border-radius: 2px;
}

    .CBtD[data-btst="D"], .CBt[data-btst="D"] {
        cursor: not-allowed;
    }
.CBt-Disabled {
    background-color: transparent;
    color: #005a58;
    cursor: not-allowed;
}

.CBtInTd {
    color: #167166;
    cursor: pointer;
}

.CBtInTdD {
    color: #ffffff;
    cursor: pointer;
}

.ProgressBarA {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 6px;
    background-color: #18181F;
}

    .ProgressBarA > div {
        height: inherit;
    }

    .ProgressBarA + .ABt, .ProgressBarA + .ABt-Disabled, .ProgressBarA + .ABtD {
        float: right;
        margin-top: 6px;
    }

.UToolBABt, .UToolBABt-Selected, .UToolBABtD, .UToolBBBt, .UToolBBBt-Selected, .UToolBBBtD, .UToolBCBt, .UToolBCBt-Selected, .UToolBCBtD {
    margin-right: 2px;
    text-align: center;
    width: 110px;
    height: 24px;
    position: relative;
    float: left;
    padding-top: 2px;
    border-radius: 4px 4px 0px 0px;
}

.UToolBABt {
    background-color: transparent;
    color: #3a6bf1;
    cursor: pointer;
}

    .UToolBABt:hover, .GeneralItem:hover .ABt, .ItemPopUp:hover .ABt, .GeneralItem:hover .ABtInTd, .TransPayBackBox:hover .ABt {
        color: #7898ff;
    }

.UToolBABt-Selected {
    color: #FFFFFF;
}

.UToolBABt-Selected, .ProgressBarA > div {
    background-color: #3a6bf1;
}

.UToolBABtD {
    background-color: #26262A;
    color: #5e89ff;
    cursor: pointer;
}

.ProgressBarB {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 6px;
    background-color: #18181F;
}

    .ProgressBarB > div {
        height: inherit;
    }

    .ProgressBarB + .BBt, .ProgressBarB + .BBt-Disabled, .ProgressBarB + .BBtD {
        float: right;
        margin-top: 6px;
    }

.UToolBBBt {
    background-color: transparent;
    color: #D51717;
    cursor: pointer;
}

    .UToolBBBt:hover, .GeneralItem:hover .BBt, .ItemPopUp:hover .BBt, .GeneralItem:hover .BBtInTd, .TransInvestBox:hover .BBt {
        color: #FF2222;
    }

.UToolBBBt-Selected {
    color: #FFFFFF;
}

.UToolBBBt-Selected, .ProgressBarB > div {
    background-color: #D51717;
}

.UToolBBBtD {
    background-color: #360000;
    color: #FF2222;
    cursor: pointer;
}



.UToolBCBt {
    background-color: transparent;
    color: #167166;
    cursor: pointer;
}

    .UToolBCBt:hover, .GeneralItem:hover .CBt, .ItemPopUp:hover .CBt, .GeneralItem:hover .CBtInTd {
        color: #508f88;
    }

.UToolBCBt-Selected {
    background-color: #026458;
    color: #FFFFFF;
}

.UToolBCBtD {
    background-color: #022822;
    color: #10A585;
    cursor: pointer;
}


/*#endregion */

/*#region 登录注册专用色系定义*/
#LoginBox, #UserRegBox {
    position: absolute;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.90);
    top: 0px;
    color: white;
    text-align: center;
    vertical-align: middle;
    z-index: 20;
}

    #LoginBox > #LoginBoxElms {
        left: 50%;
        top: 50%;
        margin-top: -118px;
        margin-left: -142px;
        position: fixed;
    }

    #UserRegBox > #UserRegBoxElms {
        left: 50%;
        top: 50%;
        margin-top: -232px;
        margin-left: -141px;
        position: fixed;
    }

.URLInp, .URLBt, .URLBtD {
    border-style: solid;
    border-width: 1px;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    border-radius: 2px;
}

.URLInp {
    color: #858588;
    background-color: #D1D1E5;
    border-color: #D1D1E5;
    height: 36px;
    width: 280px;
    line-height: 34px;
}

.URLInpI {
    color: #000000;
}

.URLInp:hover {
    border-color: #FFFFFF;
}

.URLBt, .URLBtD {
    background-color: #D51717;
    color: #FFFFFF;
    border-color: #D51717;
    height: 38px;
    width: 282px;
}

    .URLBt:hover {
        border-color: #FFFFFF;
    }

.URLBtD {
    background-color: #FF2222;
}

.URLSmallTextBt, .URLSmallTextBtD {
    font-size: 14px;
    color: #D1D1E5;
    cursor: pointer;
}

    .URLSmallTextBt:hover {
        color: #FFFFFF;
    }

.URLSmallTextBt-Disabled {
    font-size: 14px;
    color: #A5A5A8;
}

/*#endregion*/

/*#region 图片式信息单元显示控制*/
.PicItem {
    width: 131px;
    height: 44px;
    float: left;
    text-align: left;
    cursor: pointer;
    margin: 5px;
    border: solid 2px transparent;
    padding: 1px;
}

    .PicItem div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 129px 42px;
        margin: 0px;
    }

    .PicItem:hover {
        border: solid 2px #FFFFFF;
        opacity: 1;
    }

.PicItemSelected {
    border: solid 2px #ffffff;
}

    .PicItemSelected div {
        opacity: 1;
    }
/*#endregion*/

/*#region 投资交易框专属控制*/
.TransInvestBox {
    height: 260px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -315px;
    margin-top: -145px;
    color: white;
    background-color: #32323A;
    background-color: rgba(50, 50, 58, 0.96);
    padding: 15px;
}
/*#endregion*/

/*#region 还款交易框专属控制*/
.TransPayBackBox {
    height: 260px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -315px;
    margin-top: -145px;
    color: white;
    background-color: #32323A;
    background-color: rgba(50, 50, 58, 0.96);
    padding: 15px;
}
    /*#endregion*/

/*#region 交易框共有属性控制*/
    .TransInvestBox > .BoxContainer, .TransPayBackBox > .BoxContainer {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .TransInvestBox .BtClose, .TransPayBackBox .BtClose {
        cursor: pointer;
        color: #a5a5a5;
        font-size: 26px;
        margin-top: -8px;
    }

    .TransInvestBox .BtCloseD, .TransPayBackBox .BtCloseD {
        cursor: pointer;
        color: #a5a5a5;
        font-size: 26px;
        margin-top: -8px;
    }

    .TransInvestBox .BtClose:hover, .TransPayBackBox .BtClose:hover {
        color: #FFFFFF;
    }
/*#endregion*/

/*#region 评分框共有属性控制*/
.Graded{
    background-color:transparent;
    width:26px;
    height:18px;
    float:right;
    text-align:center;
}
    .Graded  .GABt {
        border: 1px solid #3a6bf1;
        color: #3a6bf1;
        cursor: pointer;
    }
    .Graded > .GBBt {
        border: 1px solid #D51717;
        color: #D51717;
        cursor: pointer;
    }
    .Graded > .GCBt {
        border: 1px solid #026458;
        color: #026458;
        cursor: pointer;
    }

.ItemGraded {
            background-color: #32323A;
            border: solid 1px #32323A;
            padding: 5px 15px;
            position: absolute;
            width: 120px;
            z-index: 5;
        }
            .ItemGraded > .Top {
                background-color:transparent; 
                text-align:left; 
                width: 120px;
                color:white;
            }
            .ItemGraded > .Title {
                width: 70px;
                height: 20px;
                color: white;
                background-color: transparent;
            }
            .ItemGraded > div {
                display: block;
                float: left;
                width: 10px;
                height: 20px;
                background-color: #4c0000;
                margin:1px;
                position:relative;
            }
            .ItemGraded > .GradedHL {
                background-color: #ff0000;
            }
/*#endregion*/

/*#region  开关共有属性控制*/
.UpDownButton {
            width:13px;
            height: 13px;
            border: 1px solid #a5a5a5;
            float: left;
            position:relative;
            margin-top:2px;
            margin-right: 5px;
        }

            .UpDownButton[data-sw="1"] {
                background-color: #1dac9a;
                transition: background-color ease-in 0.2s;
            }

            .UpDownButton[data-sw="0"] {
                transition: background-color ease-in 0.2s;
            }
.MHand {
    cursor:pointer;
}
/*#endregion*/

/*#region 大列表样式*/
.TbList {
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
}

    .TbList > thead {
        font-size: 14px;
        background-color: #000000;
        color: #dde;
        text-align: center;
        word-break: keep-all;
        white-space: nowrap;
    }

        .TbList > thead > tr > td[data-ft="2"] > .sort {
            font-family: 'Wingdings 3';
            color: #abf;
            margin-left: 2px;
            font-weight: 700;
        }

        .TbList > thead > tr > td[data-ft="3"] > .asc {
            font-family: 'Wingdings 3';
            color: #abf;
            margin-left: 2px;
            font-weight: 700;
        }

        .TbList > thead > tr > td[data-ft="4"] > .desc {
            font-family: 'Wingdings 3';
            color: #abf;
            margin-left: 2px;
            font-weight: 700;
        }

        .TbList > thead > tr > td[data-ft="2"] > .asc, .TbList > thead > tr > td[data-ft="2"] > .desc, .TbList > thead > tr > td[data-ft="3"] > .sort, .TbList > thead > tr > td[data-ft="3"] > .desc, .TbList > thead > tr > td[data-ft="4"] > .sort, .TbList > thead > tr > td[data-ft="4"] > .asc {
            display: none;
        }


    .TbList > tbody {
        font-size: 12px;
        color: #fff;
        text-align: center;
    }

    .TbList td {
        padding: 4px;
        /*min-width: 58px;*/
    }

    .TbList tr td[data-slt] {
        cursor: pointer;
        color: #abf;
    }


    .TbList > tbody > tr > td {
        border: solid 1px transparent;
        transition: border-color ease 0.5s;
    }

    .TbList > tbody > tr[data-slt="1"] > td {
        border-top: solid 1px #abf;
        border-bottom: solid 1px #abf;
        transition: all ease 0.5s;
        background-color:#2775c2;
    }

    .TbList > tbody > tr > td[data-slt="1"] {
        background-color: #000;
        color: #fff;
    }

    .TbList > tbody > tr:nth-child(2n) {
        background-color: #000;
    }

    .TbList > tbody > tr:nth-child(2n+1) {
        background-color: #333333;
    }

    .TbList > tbody > tr:hover {
        background-color: #666666;
    }
/*#endregion */

/*#region 日期控件属性控制*/
.DateSelector {
    width: 250px;
    height: 110px;
    border: 1px solid #808080;
    position: absolute;
    background-color: #222226;
    border-radius:5px;
    z-index:11;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(endColorstr='#404048', startColorstr='#222226')";  */
    /*background:linear-gradient(to bottom, #222226, #404048);*/
}

    .DateSelector .Year, .Month, .Day {
        position: absolute;
        width: 100%;
        font-size: 28px;
        text-align: center;
        transition: top 0.5s ease;
    }

    .DateSelector .YearSelector, .MonthSelector, .DaySelector {
        position: absolute;
        width: 30%;
        top: 24px;
        text-align: center;
        float: left;
        color: black;
        border: 1px solid #808080;
        bottom: 24px;
        overflow: hidden;
    }

    .DateSelector .Year div, .Month div, .Day div {
        height: 60px;
        font-weight:600;
        line-height:60px;
        vertical-align:middle;
        background-color:white;
        /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#6d6d6f')";*/ /* IE8 */ 
        /*background:linear-gradient(to bottom, #ffffff, #6d6d6f);*//*IE9+*/
    }

    .DateSelector .YearUp, .MonthUp, .DayUp {
        position: absolute;
        top: 0px;
        width: 30%;
        color: white;
        height:20px;
        line-height:20px;
        vertical-align:middle;
        text-align: center;
        font-family: Webdings;
        cursor: pointer;
    }

    .DateSelector .YearDown, .MonthDown, .DayDown {
        position: absolute;
        bottom: 0px;
        width: 30%;
        height:20px;
        line-height:20px;
        vertical-align:middle;
        color: white;
        text-align: center;
        font-family: Webdings;
        cursor: pointer;
    }
/*#endregion*/

/*#region 财务顾问操作状态*/
.Adviser {           
            background-color: #333335;
            background-color: rgba(44, 48, 50, 0.95);
            width: 372px;
            height:152px;
            position: relative;padding:15px;
            color:#fff;
        }
            .Adviser .Adviserbox {
                position: relative;
                height:160px;
              
            } 
            .triangle-rightBlack {
                width: 0;
                height: 0;
                border-top:15px solid transparent;
                border-left: 12px solid rgba(44, 48, 50, 0.90);
                border-bottom: 15px solid transparent;
                position: absolute;
                right: -7px;
                bottom: 40px;

            }
.TUbox {
            width: 108px;
            height: 55px;
            background-color: #7a000d;float:left;text-align:center;padding-top:10px;margin-bottom:23px;
        }

.ArrowR {
    float: left;
    line-height: 65px;
    margin: 0 2px;
}

.ArrowD {
    position: absolute;
    margin: 5px 0;
    left: 45px;
    top: 61px;
}

.ArrowB {
    position: absolute;
    margin: 5px 0;
    left: 176px;
    top: 61px;
}

.Adviser .speed {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.TUbox[data-way="1"] {
    background-color: #d50a0a;
}

/*#endregion*/

/*#region 成长值样式*/
#Main {
    color: #fff;
}

#VipToolBar {
    margin: 10px 10px;
}

    #VipToolBar ul {
        list-style-type: none;
        width: 100%;
        border-bottom: 2px solid #d51717;
        height: 24px;
        padding: 0;
    }

        #VipToolBar ul li a {
            display: block;
            width: 110px;
            height: 25px;
            color: #fff;
            text-align: center;
            line-height: 25px;
            float: left;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: #d51717;
            margin-right: 5px;
            text-decoration: none;
        }

            #VipToolBar ul li a.gra {
                background-color: rgba(82, 82, 82, 0.63);
                color: #b3b2c0;
            }

            #VipToolBar ul li a:active {
                background-color: rgba(100, 0, 0, 0.83);
            }

.vipGrow {
    position: relative;
    top: 70px;
    height: 150px;
    margin: 10px;
    min-width: 1000px;
}

.vipGrowBg {
    background-color: #d2d2d2;
    border-radius: 16px;
    left: 0;
    right: 0;
    height: 40px;
    position: absolute;
}

.FilletL {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.FilletR {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.vipGowin {
    width: 12.5%;
    height: 40px;
    overflow: hidden;
    float: left;
}

.vipGowinA {
    width: 0%;
    background-color: #d51717;
    height: 40px;
}

.triangle {
    position: absolute;
    top: -58px;
    left: 22%;
    margin-left: -40px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #d51717;
    margin: 0 auto;
}

.triangle-box {
    background-color: #d51717;
    padding: 5px 10px;
}

    .triangle-box p {
        color: #fff;
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 64px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        font-size: 18px;
    }

.vipdj {
    position: absolute;
    top: 0px;
    width: 100%;
}

    .vipdj .rigX {
        border-right: 1px solid #575757;
        width: 12.5%;
        height: 60px;
        position: absolute;
    }

     .vipdj .rigX0 {
        left: 0%;
        z-index: 6;
    }

    .vipdj .rigX1 {
        left: 12.5%;
        z-index: 6;
    }

    .vipdj .rigX2 {
        left: 25%;
        z-index: 5;
    }

    .vipdj .rigX3 {
        left: 37.5%;
        z-index: 4;
    }

    .vipdj .rigX4 {
        left: 50%;
        z-index: 3;
    }

    .vipdj .rigX5 {
        left: 62.5%;
        z-index: 2;
    }
    
    .vipdj .rigX6 {
        left: 75%;
        z-index: 2;
    }
    
    .vipdj .rigX7 {
        left: 87.5%;
        z-index: 1;
    }

    .vipdj .up {
        position: absolute;
        top: 50px;
        left: 5px;
    }

    .vipdj .bottom .c {
        position: absolute;
        width: 10%;
        border-right: 1px solid #575757;
        bottom: 20px;
        height: 10px;
    }

    .vipdj .bottom .c1 {
        z-index: 200;
        left: 0;
    }

    .vipdj .bottom .c2 {
        z-index: 100;
        left: 10%;
    }

    .vipdj .bottom .c3 {
        z-index: 99;
        left: 20%;
    }

    .vipdj .bottom .c5 {
        z-index: 98;
        left: 30%;
    }

    .vipdj .bottom .c6 {
        z-index: 97;
        left: 40%;
    }

    .vipdj .bottom .c7 {
        z-index: 96;
        left: 50%;
    }

    .vipdj .bottom .c8 {
        z-index: 95;
        left: 60%;
    }

    .vipdj .bottom .c9 {
        z-index: 94;
        left: 70%;
    }

    .vipdj .bottom .c10 {
        z-index: 93;
        left: 80%;
    }

.Discount {
    height: 30px;
    margin: 10px 10px;
    min-width: 1000px;
}

    .Discount h1 {
        font-size: 14px;
    }

    .Discount .DiscountA {
        background-color: #1f1f1f;
        height: 30px;
        width: 12.4%;
        margin-right: 1px;
        float: left;
    }

    .Discount .yellow {
        background-color: #f6ac0d;
    }

        .Discount .yellow label {
            color: #1f1f1f;
        }

    .Discount label {
        padding-left: 20px;
        line-height: 30px;
        height: 30px;
        margin: 0;
    }

.Obtain {
    font-size: 16px;
    height: 100px;
    margin: 10px;
    min-width: 800px;
}

    .Obtain .ObtainA {
        margin: 30px 30px 0 0;
        display: inline-block;
    }

    .Obtain .backG {
        background-color: #fff;
        color: #000000;
        padding: 0 5px;
    }

.growAd {
    position: absolute;
    bottom: 35px;
    right: 10px;
    background-color: #111214;
    background-color: rgba(29, 29, 29, 0.59);
    width: 180px;
    height: 180px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 25PX;
}

    .growAd .tx {
        position: absolute;
        border-bottom: 30px solid #111214;
        border-bottom: 30px solid rgba(29, 29, 29, 0.59);
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        height: 0;
        width: 110px;
        top: -30px;
    }

        .growAd .tx .sanjiao {
            border-left: 56px solid transparent;
            border-right: 56px solid transparent;
            border-top: 30px solid #c1870a;
            position: absolute;
        }

            .growAd .tx .sanjiao .yuanx {
                position: absolute;
                border-radius: 50px;
                background-color: black;
                width: 10px;
                height: 10px;
                top: -20px;
                left: -4px;
            }

    .growAd .textA {
        border-bottom: 1px solid #493711;
        margin: 10px 15px;
        padding-bottom: 10px;
    }

    .growAd .textB {
        margin: 0 10px;
        padding-bottom: 10px;
    }

    .growAd .wA {
        max-width: 95px;
        overflow: hidden;
        display: inline-block;
        height: 25px;
        line-height: 35px;
    }

    .growAd .wB {
        max-width: 95px;
        overflow: hidden;
        display: inline-block;
        height: 20px;
        line-height: 26px;
    }

.Gold {
    color: #eca50d;
}

.grey {
    color: #575757;
}

.f18 {
    font-size: 18px;
}
/*#endregion*/

/*#region 用户中心提示弹出框*/
.rightBlack {
    width: 0;
    height: 0;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    border-bottom: 8px solid rgba(40, 48, 50, 0.95);
    border-bottom: 8px solid #283032;
    position: absolute;
    left: 102px;
    top:-8px;

}

.userPromptbox {
    position: absolute;
    background-color: #283032;
    background-color: rgba(44, 48, 50, 0.95);
    width: 320px;
    z-index: 7;
    padding: 20px 25px;color:#fff;
}
.centerBox{position: absolute; top: 50%; left: 50%; margin-top: -120px; margin-left: -220px; width: 370px; height: 200px;}
.upLeft {
    float: left;
    margin-right: 15px;
}

    .upRight .p1 {
        font-size: 22px;
        padding: 0;
        margin: 3px 6px;
    }

    .upRight .p2 {
        padding: 0;
        margin: 0;margin-bottom:10px;
    }

    .upRight span {
        color: #f9c700;
    }

.box-up {
    border-bottom: 1px solid #49494b;
    margin-bottom: 10px;
    overflow: hidden;
}

.box-down .downUp {
    color: #f9c700;
    margin-left: 15px;
    margin-bottom:15px;
    font-size: 15px;
    float:right;
}
.box-downBottn {
    margin: 5px 10px;
    width:110px;
    text-align:center;
    height:28px;
    background-color:rgba(58, 58, 66, 0.60);
    background-color:#26262b;
    color:#c1c1c1;
    float:right;
    line-height:28px;   
    transition: background-color ease 0.5s;
    border-radius: 2px;cursor:pointer;
}
.box-downBottn:hover{ background-color: #3a3a42 !important;}
/*#endregion*/

/*#region 赠送v币弹框*/
.userPromptboxZS {
    position: absolute;
    background-color: #D51717;
    background-color: rgba(213, 23, 23, 0.95);
    width: 320px;
    z-index: 2;
    top: 95px;
    left: 15px;
    padding: 25px 20px 15px 20px;
    cursor:default;
}

.userPromptboxZS .upRight .p1 {
        font-size: 22px;
        padding: 0;
        margin: 3px 6px;
        line-height:20px;
        margin-bottom:10px;
    }
    .userPromptboxZS .upRight .p1>a {display:block;margin-right:65px;float:left;
    }
  .userPromptboxZS  .topred {
    width: 0;
    height: 0;
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
       border-bottom: 8px solid #D51717;
    border-bottom: 8px solid rgba(213, 23, 23, 0.95);
    position: absolute;
    left: 97px;
    top:-8px;

}
 .userPromptboxZS .boxZS-up {
    margin-bottom: 10px;
}

.userPromptboxZS .p2 {
        padding: 0;
        margin: 0;margin-bottom:10px; color:#ffd2d2;
    }
.userPromptboxZS .VBtn {
    margin: 5px 5px 10px;
    width:110px;
    text-align:center;
    height:28px;
    color:#d5d5d5;
    float:right;
    line-height:28px;   
    transition: background-color ease 0.5s;
    border-radius: 2px;
    border:1px solid #d5d5d5;cursor:pointer;
}

.userPromptboxZS .VBtn:hover{ background-color: #e73f3f !important;color:#fff; border:1px solid #fff;}
    .userPromptboxZS .btnBox {
        margin-top:21px;
        margin-right:6px;
    }
.ItemSize .VB {color: #D51717; font-size: 60px; position: absolute; left: 50px; top: 60px;animation:myfirst 2s;}
.ItemText .VBvalue{position:relative;height:20px;overflow:hidden;margin:0;padding:0;}
.ItemText .VBvalue .pbox{position:absolute;top:0px;transition: top ease 1s;}

.ItemText .VBvalue p{height:20px;margin:0;padding:0;line-height:22px;}

@keyframes myfirst
{
from {
        opacity:1;top:50px;
    }

to {
        opacity: 0;top:0px;
    }
}

/*#endregion*/

/*#region 付款后弹框*/
.TCK{position: absolute; top: 50%; left: 50%; margin-top: -120px; margin-left: -220px; width: 360px; height: 200px;}
.paymentBox {
    width: 434px;
    height: 200px;
    position: absolute;
    background-color: #283032;
    background-color: rgba(44, 48, 50, 0.95);z-index:5;
}
    .paymentBox .cross {
        height: 30px;
        padding: 5px 8px;
        font-size: 25px;
        color: #9ea1a2;
        line-height: 30px;
        margin: 0;float:right;cursor:pointer;
    }
   .paymentBox .cross:hover{color:#fff;}
    .paymentBox .INbox {
        padding: 0 30px 30px 30px;
        width: 344px;
        margin: 0 auto;
        overflow: hidden;
    }

    .paymentBox .upRight {
        margin: 10px 0;
        color: #9ea1a2;
        float: left;
    }

.INbox .text {
    width: 350px;
    height: 68px;
    margin: 10px 0 10px 0;
}

.paymentBox .INbox .Btnb {
    float: left;
}
   .paymentBox .INbox .Btnb .btn {
        border-radius: 3px;
        border: 1px solid #727272;
        width: 152px;
        height: 32px;
        float: left;
        color: #b6b6b6;
        text-align: center;
        line-height: 32px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color ease 0.5s;
    }
      .paymentBox .INbox .Btnb .btn:hover,.paymentBox .INboxT .Btnb .Knowbtn:hover{background-color:#3a3a42 !important}
   .paymentBox .INboxT .Btnb .Knowbtn {
        border-radius: 3px;
        border: 1px solid #727272;
        width: 152px;
        height: 32px;
        float: right;
        color: #b6b6b6;
        text-align: center;
        line-height: 32px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color ease 0.5s;position:absolute;left:230px;top:120px;
    }
        .paymentBox .INboxT {
        padding: 0 30px 30px 30px;
        
        margin: 0 auto;
        overflow: hidden;
    }
   .paymentBox .KnowINbox{padding-top:55px;padding-left:30px;}
   .paymentBox .Ctext{font-size:18px;color:#d69a0b;line-height:30px;position:absolute;left:90px;}

/*#endregion*/

/*#region 债权搜索栏*/
        .SearchBar {
            min-width: 960px;
            float: right;
            margin-bottom: 9px;
            margin-right:10px;
            width: 100%;
        }

        .DropDown {
            float: right;
            position: relative;
            margin-right: 5px;
            margin-bottom:5px;
            background-color: #000;
            color: #ffffff;
            border: 1px solid #d51717;
            line-height: 25px;
            height: 25px;
            cursor: pointer;
        }
        .ItemDisp {
            width: 100%;
        }
            .DropDown > .ItemDisp > label {
                width: 100%;
            } 
            
            .DropDown > .ItemDisp > label.text {
                margin: 0 30px 0 5px;
                color: #fff;
            }

            .DropDown > .ItemDisp > label + label {
                color: #d0d0d0;
                border-left: 1px solid #d51717;
                width: 20px;
                height: 25px;
                background-color: #151517;
                line-height: 25px;
                cursor: pointer;
                right: 0;
                position: absolute;
                padding-left: 5px;
            }

            .ItemDisp:focus ~ .OptionContainer, .DropDown > .OptionContainer:focus {
                height: auto;
                transition: opacity ease 1s;
                display: block;
                animation: Appear 0.1s;
            }
        .DropDown > .OptionContainer {
            position: absolute;
            background-color: #000;
            width: auto;
            height: 75px;
            top: 0px;
            border: 1px solid #515151;
            left: -1px;
            overflow: hidden;
            display: none;
            z-index:20;
        }
        .DropDown > .OptionContainer > .Option {
            height: 32px;
            line-height: 32px;
            display: block;
            font-size: 14px;
            padding-left: 5px;
            white-space: nowrap;padding-right:10px;
        }

            .DropDown > .OptionContainer > .Option:hover {
                background-color: #ffffff;
                color: #000;
            }
        .DropDown input {
            background-color: transparent;
            color: white;
            height: 16px;
            width: 150px;
            border: none;
            margin: 2px 25px 1px 5px;
        }
/*#endregion*/

/*#region 付款页面增加选择银行区域*/
.bankBox{  margin-top:45px;border:1px solid #4a4a4a;padding-top:35px;}
.bankBox .fuk{position:absolute;left:-103px;top:20px;}
.bankBox>label{display:block;margin-bottom:20px;margin-top:15px;}
.bankBox>ul{margin:0;padding:0; margin-left:20px;}
.bankBox>ul>li{float:left;margin-right:20px;list-style:none;margin-bottom:25px;height:40px;width:210px;}
.bankBox>ul>li > input{vertical-align:middle;height:30px;float:left;}
.tipV{line-height: 30px; color: #fbf876;position:absolute;margin-top:20px;}
.ZGbank,.ZGJSbank,.ZGNYbank,.ZGGSbank,.QTbank,.XYbank,.ZGMSbank,.ZGYZbank,.SHbank{background:url(Images/bank.png) no-repeat;width:183px;height:36px;display:inline-block;}
.ZGbank{background-position:0 0;}
.ZGJSbank{background-position:0 -37px;}
.ZGNYbank{background-position:0 -74px;}
.ZGGSbank{background-position:0 -111px;}
.QTbank{background-position:0 -148px;}
.XYbank{background-position:0 -185px;}
.ZGMSbank{background-position:0 -222px;}
.ZGYZbank{background-position:0 -259px;}
.SHbank{background-position:0 -296px;}
.bankBox>ul>li>.inputRadio{width:12px;height:12px;background-color:white;border:1px solid #32323A;border-radius:100px;float:left;margin-top:11px;margin-right:5px;}
.bankBox>ul>li>.inputRadio>.small{width:6px;height:6px;background-color:#002f22;border-radius:100px;float:left;margin-top:3px;margin-left:3px;display:none;}
.bankBox>ul>li[data-bank="1"] > a{border: 2px solid #00b19b; }
.bankBox>ul>li[data-bank="1"]>.inputRadio>.small{display:block;}
.ipsLOGObox{background:url(Images/bg.png) repeat;width:120px;height:30px;position:absolute;top:32px;left:15px;}
.ipsLOGO{background:url(Images/ips.png) no-repeat;width:89px;height:23px;margin-left:16px;}

/*#endregion*/

/*#region loading数据传输*/
@keyframes yuanA {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
}       
@keyframes yuanB {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(-360deg);}
}       
.icon-yuanA {animation: yuanA 4s infinite linear;}
.icon-yuanB {animation: yuanB 4s infinite linear;}
@keyframes ysxs{0%{opacity:1;}100%{opacity:0;}}
@keyframes left50{0%{left:-150px;}100%{left:50px;}}
.LoadingBox{position: fixed;
    z-index: 8;bottom:90px;opacity:1;}
.Load{position:absolute;left:-150px;display:none;}
.FailureLoad{position:absolute;display:none;left:50px;}
.icon {
    font-size: 45px;
    color: #fff;
    left: 0;
    top: 0;
    position: absolute;
}
.loadingtext {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 8px;
    color: #fff;
    white-space: nowrap;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
.LoadingBox[data-status="1"]>.Load{display:block;animation:left50 forwards 0.3s; }
.LoadingBox[data-status="01"]>.Load{display:block;animation:ysxs forwards 0.5s;left:50px;}
.LoadingBox[data-status="02"]>.Load{display:none;}
.LoadingBox[data-status="2"]>.FailureLoad{display:block;}
.LoadingBox[data-status="2a"]>.FailureLoad{display:none;}
.LoadingBox[data-status="2a"]:focus>.FailureLoad{display:block;}
/*#endregion*/
/*#region Execution执行业务*/
@keyframes FaiDowntext { 0% { height: 0px; } 100% { height: 87px;}}
@keyframes FaiDowntextXS {0% {height: 87px; }100% { height: 0px; }}
@keyframes Faitext { 0% {opacity: 0;}100% { opacity: 1;}}
.ExecutionBox {
    position: fixed;
    z-index: 8;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -50px;
}
.textBtn {
    position: absolute;
    right: 0px;
    bottom: -32px;
    color: #c30000;
    cursor: pointer;
    padding: 8px;
    background-color:rgba(255, 255, 255, 0.7);border-top:1px solid #272727;
    left: 0px;
    text-align: right;
}
.Exicon {
    font-size: 45px;
    left: 0;
    top: 0;
    position: absolute;
}
.Exloadingtext {
    font-size: 20px;
    margin-left: 60px;
    margin-top: 8px;
    white-space: nowrap;
    font-weight:700;display:inline-block;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);*/
}
.FaiTextback {
    background-color: rgba(18, 18, 18, 0.86);
    height: 0px;
    transition: height ease 0.5s;
    position: relative;
    bottom: -132px;
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    overflow: hidden;
}
.wrap {
    display: table;
    width: 300px;
    height: 87px;
    /*_position: relative;*/
    overflow: hidden;padding-left:20px;padding-right:20px;
}

.subwrap {
    vertical-align: middle;
    display: table-cell;
    color: #f7f200;
    text-align: left;
    line-height: 25px;
    font-size: 16px;
}
 .FaiTextback[data-text="a"] {
     display:block;
        animation: FaiDowntext forwards 0.5s ease;
    }

        .FaiTextback[data-text="a"] > .FaiText {
            animation: Faitext forwards 3s ease;
        }

    .FaiTextback[data-text="b"] {
        animation: FaiDowntextXS forwards 0.5s ease;
    }

        .FaiTextback[data-text="b"] > .FaiText {
            animation: LoadingBoxXS forwards 0.2 ease;
        }
        .FaiTextback[data-text="c"] {display:none;}
     
.ExecutionBox>lable{display:inline-block;}   
.Execution,.SucExecution,.FaiExecution{display:none;background-color:rgba(255, 255, 255, 0.7);width:340px;height:100px;color:#272727;position:absolute;}
.ExecutionBox[data-status="1"]>.Execution{display:block;}
.ExecutionBox[data-status="2"]>.SucExecution{display:block;animation:ysxs forwards 1s 1s;}
.ExecutionBox[data-status="2a"]>.SucExecution{display:none;}
.ExecutionBox[data-status="3"]>.FaiExecution{display:block;}
.ExecutionBox[data-status="3a"]>.FaiExecution{display:none;}
.ExecutionBox[data-status="3a"]:focus>.FaiExecution{display:block;}
/*#endregion*/