<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IFL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IFL.Properties.Settings.DBMA1ConnectionString" connectionString="Data Source=VSDB1;Initial Catalog=DBMA1;Persist Security Info=True;User ID=sa;Password=site11"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IFL.Properties.Settings>
            <setting name="IFL_AAA_IdentifierService" serializeAs="String">
                <value>http://service.sfxxrz.com/IdentifierService.svc</value>
            </setting>
        </IFL.Properties.Settings>
    </applicationSettings>
</configuration>